.movie__action {   
  position: absolute;   
  top: 0;   
  right: 0;   
  left: 0;   
  bottom: 0;   
  z-index: 10; 
} 

.movie__action i {   
  color: var(--white);   
  position: absolute;     
  top: 25px;   
  font-size: 38px;   
  line-height: 38px;   
  font-weight: 300;   
  transition: transform 0.5s ease-in-out, right 0.3s ease-in-out;   
  transform: rotate(360deg);   
  right: -100px; 
  cursor: pointer;
  z-index: 9999;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}  

.movie.open .movie__action i {   
  right: 130px;   
  transform: rotate(0deg); 
}

/* Pentru tablete */
@media (max-width: 1024px) {
  .movie__action i {   
    font-size: 32px;   
    line-height: 32px;
    top: 20px;
  }
  
  .movie.open .movie__action i {   
    right: 100px;   
  }
}

/* Pentru telefoane mai mari */
@media (max-width: 768px) {
  .movie__action i {   
    font-size: 38px;   
    line-height: 28px;
    top: 15px;
  }
  
  .movie.open .movie__action i {   
    right: 80px;   
  }
}

/* Pentru telefoane mici */
@media (max-width: 480px) {
  .movie__action i {   
    font-size: 34px;   
    top: 50px;
    width: 40px; /* Redus pentru a fi mai precis */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000;
    position: absolute;
    pointer-events: none; /* Dezactivează click-ul când nu e deschis */
  }
  
  .movie.open .movie__action i {   
    right: 80px;   
    pointer-events: auto; /* Activează click-ul doar când e deschis */
  }
}

html, body {
  overflow-x: hidden;
}

.video__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.video__container.show_video {
    display: flex;
}
  
.video__wrapper {
    position: relative;
    width: 80%;
    height: 80%;
}
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
#close-video {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.react-player:focus {
    outline: none;
}

.titleFilm {
    padding: 20px;
}

.titleFilm-poz {
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    background-color: #242424;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 5px;
}